@import "color.css";

* {
    border: none;
    border-radius: 0px;
    font-family: "WenQuanYi Micro Hei", "Symbols Nerd Font";
    font-size: 16px;
    min-height: 0;
    /* background: @bg; */
    /* color: @fg; */
}

#window {
    padding: 0px 10px;
    background: transparent;
    background: @bg;
    color: @fg;
}

window > box {
    border-bottom: 0px solid @fg;
}

window#waybar {
  background: @bg;
  color: @fg;
}

/* window#waybar.hidden { */
/*     opacity: 0.2; */
/* } */

/* window#waybar.empty { */
/*     background: @bg; */
/* } */
/* window#waybar.solo { */
/*     background: @bg; */
/* } */

#workspaces button {
    padding: 0px 3px;
    color: @fg;
}

#workspaces button.focused {
    padding: 0px;
    border-bottom: 2px solid @label_tip;
    background: @bg_focused;
    color: @bg;
}

#workspaces button.urgent {
    padding: 0px;
    background-color: @bg_critical;
    border-bottom: 2px solid @bg_urgent;
}

#mode {
    background: @bg_mode;
    border: 2px solid @fg;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #tray, #mode, #custom-ip {
    padding: 0 10px;
    color: @fg;
    border-bottom-color: #0c6d1a;
}

#cpu.warning {
    background-color: @bg_warn;
}

#cpu.critical {
    background-color: @bg_critical;
}

#tray {
    /* border-bottom-color: #991121; */
    margin-right: 2px;
}

/* @keyframes blink { */
/*     to { */
/*         background-color: @fg; */
/*         color: #000000; */
/*     } */
/* } */

#battery.critical:not(.charging) {
    background: @bg_urgent;
    color: @fg;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.discharging.critical {
    background-color: @bg_urgent;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.discharging.warning {
    background-color: @bg_warn;
    color: #ffffff;
}

label:focus {
    color: @fg;
    background-color: @bg;
}
