configuration {
	modi: "Search:~/.config/i3/scripts/search.sh,ssh,window,drun";
	show-icons: true;
	theme: "~/.config/rofi/themes/default.rasi";
	display-window: "Window";
	display-run: "Run";
	display-ssh: "Ssh";
	display-drun: "Apps";
	display-combi: "Apps";

    ssh-client: "ssh";
}
