# cedet build script.
*.elc
*.info*
*-compile-script
*-make-script
elpa/
.emacs.desktop
ac-comphist.dat
database/
ede-projects.el
/tramp

server/
docview/
log_cache/
.emacs.desktop.lock
session.*
*dot-wy.el

*99*-proj-*.el
/irony
/transient/
emacs.pdmp
/quelpa/
/straight/
/workspace/
/.dap-breakpoints

/.lsp-session-v1
/amx-items
/eww-bookmarks
/projectile-bookmarks.eld
/rc/11-priv-sb.el
/recentf
/templates/yasnippets-private/
/url/

10-emacs-custome.el
100-priv.el
image-dired/
srecode-map.el
tools/post-pack_emacs_env.sh
/templates/srecode/private/
/tools/peda/private-print.txt
.*
/org-roam.db
/request/
